*.stl
*.xz
*.zip
*.tgz
*.tbz2
*.jpg
*.png
*.mp4

3-RaederKoppelGetriebe-4.scad
3-Raederkoppelgetriebe/3-RaederKoppelGetriebe-4.scad
3-Raederkoppelgetriebe/NEMA-17-Motor.scad
3-Raederkoppelgetriebe/video-make.info
3-Raederkoppelgetriebe/video-mult.info
3-Raederkoppelgetriebe/videomult.info
3-Raederkoppelgetriebe/vidmul6.sh
3LagenSynthese-dev-a.scad
3LagenSynthese-dev-b.scad
3LagenSynthese-problem.scad
3LagenSynthese-wunder.scad
3LagenSynthese.scad
Koppelgetriebe/Koppelgetriebe-4.csg
Koppelgetriebe/Koppelgetriebe-4.scad
Koppelgetriebe/Koppelgetriebe3.scad
Koppelgetriebe/zapfen-4.scad
Koppelgetriebe3.scad
Kurvenschrittgetriebe/Kurvenschrittgetriebe-M.scad
moduls/
zapfen-3.scad
zapfen-4.scad
zapfen-5-.scad

